h1{
    text-align: center;
}

p {
    color: red;
    font-family: Montserrat;
    font-weight: 100;
    font-size: 13px;
    font-style: italic;
    text-align: left;
    text-decoration: overline;
    line-height: 2;
    letter-spacing: 1px;
}

span {
    color: brown;
    text-decoration: line-through;
}